<!DOCTYPE html>
<html>

<%- include('partials/head', {title: 'Home' }) %>

    <body>

        <%- include('partials/header') %>

            <section>
                <img class=banner src="/images/banner.png" alt="banner">
            </section>


            <main>
                <section class="section-artic">
                    <p class="titular">Promociones</p4>
                    <div class="productos">
                        <% promo.forEach(producto=> { %>


                            <article class="articulo">
                                <img class="img-articulo" src="/images/<%=producto.image%> " alt="imagen de promo1">
                                <div class="producto">
                                    <p class="precio">
                                        <%= producto.precio %> >
                                    </p>
                                    <p class="descuento">
                                        <%= producto.descuento %> >
                                    </p>
                                    <p class="descripcion">
                                        <%= producto.descripcion %>
                                    </p>
                                </div>
                            </article>

                            <% }) %>
                    </div>
                </section>

                <section class="section-artic">
                    <p class="titular">Productos destacados</p>
                    <div class="productos">
                        <% destacado.forEach(producto=> { %>


                            <article class="articulo">
                                <img class="img-articulo" src="/images/<%=producto.image%> " alt="imagen de promo1">
                                <div class="producto">
                                    <p class="precio">
                                        <%= producto.precio %> >
                                    </p>
                                    <p class="descuento">
                                        <%= producto.descuento %> >
                                    </p>
                                    <p class="descripcion">
                                        <%= producto.descripcion %>
                                    </p>
                                </div>
                            </article>

                            <% }) %>
                    </div>
                </section>

                <div class="verTodosLosProductos">
                    <button class="button-verTodosLosProductos">Ver todos los produtos</button>
                </div>
            </main>

            <%- include('partials/footer') %>
                <!-- /footer -->
    </body>

</html>