<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="productosBuscadosContenedor">
		<div class="productosBuscados">
			<div class="contenedorResultados">
				<h2 class="resultados">Resultados de la búsqueda: <%= busqueda %> </h2>
			</div>
			<% if (productoABuscar.length > 0){ %> 
			<% productoABuscar.forEach(producto=> { %>
				<div class="encontradosContenedor">
					<section class="encontrados">
						<a href="/products/detail/<%= '${producto.id}/'  %> ">
							<figure class="encontrados-image">
								<img src="/images/products/<%= producto.image %>" alt="imagen de producto">
							</figure>
							<article class="encontradosData">
								<h2><%= producto.precio %> </h2>
								<span><%= producto.descuento %> </span>
								<p><%= producto.name %> </p>
								</article>
						</a>
					</section>
				</div>
            <% } else {  %> 
			<div class="noEncontrado">
				<h2 class="msjNoEncontrado" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
			</div>
			<% } %> 
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>